
h2{
	color: white;
}
.form-design {
	align-self: center;
    background-image:"bgimage.jpg";
    background-size: cover;

}
.input-design {

  background-color: #D9D9D9;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  max-width: 600px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  align-self: center;
}

.submit-btn {

	background-color: #458B00;
	border-color: grey;
	font-weight: bold;
	color: white;
	width: 300px;
	height: 40px;
	margin-top: 10px;
    max-width: 600px;
    align-self: center;

}
